joblib==1.5.1
matplotlib==3.10.6
numpy==2.3.3
ofxparse==0.21
openai==1.108.0
openpyxl==3.1.5
pandas==2.3.2
plotly==6.3.0
python-dotenv==1.1.1
scikit_learn==1.7.2
seaborn==0.13.2
streamlit==1.49.1
streamlit_chat==0.1.1
streamlit_option_menu==0.4.0
transformers==4.55.2
xlsxwriter==3.2.5
~treamlit==1.48.1
